body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    overflow-x: hidden;
}

.video-background video {
    position: fixed;
    background-color: #000;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover; 
}

header {
    text-align: center;
    padding: 20px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1 {
    margin: 0 0 20px 0;
    color: #fcfcfc;
}

nav a.icon-linkedin img,
nav a.icon-github img {
    height: 40px;
    width: 40px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

nav a.icon-linkedin:hover img,
nav a.icon-github:hover img {
    transform: scale(1.2);
}

nav {
    text-align: center;
    padding: 15px;

}

nav a {
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a img {
    height: 40px; 
    width: 40px;
    object-fit: contain; 
}

nav a.secciones {
    color: #f7f7f7;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 15px;
    border: 1px solid #ffe603a7;
    border-radius: 8px;
}

main {
    text-align: center;
    padding: 15px;
    display: grid;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title-container {
    display: flex;
    align-items: center; 
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.section-title {
    padding: 10px;
    margin-bottom: 10px;
}

.section-content {
    padding: 10px;
    margin-bottom: 10px;
}

.project-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
    margin-bottom: 10px;
    text-align: center;
    width:74%;
    margin: 0 auto;
}

.project-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project-box h3 {
    margin: 10px 0;
}

.project-box p {
    margin-bottom: 15px;
}

.tech-icon {
    width: 30px;
    height: auto;
    margin: 5px;
    display: inline-block;
}

.tech-link {
    display: inline-block;
    margin: 0 5px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #5810bea7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #7d0ae1;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#contacto .section-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
}

#contacto a {
    color: #fff;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.filter-buttons {
    text-align: center;
    margin-bottom: 15px;
}

.filter-buttons button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #7009ffa7;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-buttons button:hover {
    background-color: #7009ffa7;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.experience-entry, .education-entry {
    color: #ffffff;
    margin-bottom: 20px;
    padding: 15px;
}

.experience-entry h3, .education-entry h3 {
    margin-top: 0;
    color: #fcfcfc;
}

.date {
    font-family:Arial, Helvetica, sans-serif; 
    color: #ffde06;
    font-size:0.9em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    text-align: left;
}